server:
  port: ${server.port}

management:
  security:
    flag: false
  server:
    port: ${management.port}
  metrics:
    prometheus:
      enabled: true
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

spring:
  application:
    name: '@project.name@'
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: ${db.url}
    username: ${db.user}
    password: ${db.password}
    hikari:
      idle-timeout: 30000
      maximum-pool-size: 5
  flyway:
    table: schema_version
    schemas: ${db.schema}
  output:
    ansi:
      enabled: always
  cache:
    cache-names: adapters
    caffeine:
      spec: maximumSize=200,expireAfterAccess=1d
  kafka:
    bootstrap-servers: localhost:9092
    client-id: scrooge
    consumer:
      group-id: scrooge-listner
      enable-auto-commit: false
      auto-offset-reset: earliest
      max-poll-records: 20
      properties:
        max.poll.interval.ms: 60000
        session.timeout.ms: 60000
        reconnect.backoff.ms: 2000
        retry.backoff.ms: 2000
info:
  version: '@project.version@'
  stage: dev


fistful:
  url: http://fistful:8022/v1/withdrawal
  networkTimeout: 5000
party-management:
  url: http://hellgate:8022/v1/processing/partymgmt
  networkTimeout: 5000
adapter-client:
  hosts: adapter-paybox,proxy-mocketbank,adapter-onevision-payout
  networkTimeout: 5000
service:
  renewal:
    cron: "-"
    first-threshold: 60
    second-threshold: 1440

kafka:
  topic:
    withdrawal:
      id: mg-events-ff-withdrawal
      listener:
        enabled: false
        max-poll-records: 50
        concurrency: 7

vault:
  uri: https://vault.com:443
  token: token

testcontainers:
  kafka:
    tag: '6.2.0'
